.vscode
.DS_Store

# PHP Unit tests
phpunit
.phpunit.result.cache

# Filesystem storage items
*.sqlite
*.txt
storage/upload/css
storage/logs

# Testing stuff
/docker-compose.yml
scratch

# Build artifacts
tkr.tgz

# Test logs
storage/prerequisite-check.log